In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('environment_data.csv')

In [5]:
years = []
for x in range(1990, 2016):
    years.append('yr'+str(x))
print years

['yr1990', 'yr1991', 'yr1992', 'yr1993', 'yr1994', 'yr1995', 'yr1996', 'yr1997', 'yr1998', 'yr1999', 'yr2000', 'yr2001', 'yr2002', 'yr2003', 'yr2004', 'yr2005', 'yr2006', 'yr2007', 'yr2008', 'yr2009', 'yr2010', 'yr2011', 'yr2012', 'yr2013', 'yr2014', 'yr2015']

In [6]:
df.columns = ['name', 'iso', 'series', 'series_code', 'yr1990', 'yr1991', 
              'yr1992', 'yr1993', 'yr1994', 'yr1995', 'yr1996', 'yr1997', 
              'yr1998', 'yr1999', 'yr2000', 'yr2001', 'yr2002', 'yr2003', 
              'yr2004', 'yr2005', 'yr2006', 'yr2007', 'yr2008', 'yr2009', 
              'yr2010', 'yr2011', 'yr2012', 'yr2013', 'yr2014', 'yr2015']

In [7]:
df.columns

Index([u'name', u'iso', u'series', u'series_code', u'yr1990', u'yr1991',
       u'yr1992', u'yr1993', u'yr1994', u'yr1995', u'yr1996', u'yr1997',
       u'yr1998', u'yr1999', u'yr2000', u'yr2001', u'yr2002', u'yr2003',
       u'yr2004', u'yr2005', u'yr2006', u'yr2007', u'yr2008', u'yr2009',
       u'yr2010', u'yr2011', u'yr2012', u'yr2013', u'yr2014', u'yr2015'],
      dtype='object')

In [8]:
pd.unique(df['series'])

array([ 'Droughts, floods, extreme temperatures (% of population, average 1990-2009)',
       'Renewable internal freshwater resources per capita (cubic meters)',
       'Average precipitation in depth (mm per year)',
       'Arable land (% of land area)', nan], dtype=object)

In [9]:
df2 = df.replace('Droughts, floods, extreme temperatures (% of population, average 1990-2009)', 'extreme')
df2 = df2.replace('Renewable internal freshwater resources per capita (cubic meters)', 'freshwater')
df2 = df2.replace('Average precipitation in depth (mm per year)', 'precipitation')
df2 = df2.replace('Arable land (% of land area)', 'arable_land')

In [10]:
df2 = df2.replace('..', np.nan)

In [11]:
df2.head()

,name,iso,series,series_code,yr1990,yr1991,yr1992,yr1993,yr1994,yr1995,...,yr2006,yr2007,yr2008,yr2009,yr2010,yr2011,yr2012,yr2013,yr2014,yr2015
0,Argentina,ARG,extreme,EN.CLC.MDAT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.167189950512828,NaN,NaN,NaN,NaN,NaN,NaN
1,Argentina,ARG,freshwater,ER.H2O.INTR.PC,NaN,NaN,8676.23554422534,NaN,NaN,NaN,...,NaN,7305.49683845868,NaN,NaN,NaN,NaN,6936.6539063909,6864.4015520694,NaN,NaN
2,Argentina,ARG,precipitation,AG.LND.PRCP.MM,NaN,NaN,591,NaN,NaN,NaN,...,NaN,591,NaN,NaN,NaN,NaN,591,NaN,591,NaN
3,Argentina,ARG,arable_land,AG.LND.ARBL.ZS,9.71063584110732,9.74900335807125,9.78737087503517,9.82573839199909,9.86520212373342,9.90430045054427,...,12.7358232024818,13.3127975766345,12.8845430063325,12.530465635494,13.8784443981598,14.1707683369326,14.5263073274649,14.5062100566743,NaN,NaN
4,Australia,AUS,extreme,EN.CLC.MDAT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.04709860649413,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
#convert columns to string type from unicode
df2.columns.astype(str).values

array(['name', 'iso', 'series', 'series_code', 'yr1990', 'yr1991',
       'yr1992', 'yr1993', 'yr1994', 'yr1995', 'yr1996', 'yr1997',
       'yr1998', 'yr1999', 'yr2000', 'yr2001', 'yr2002', 'yr2003',
       'yr2004', 'yr2005', 'yr2006', 'yr2007', 'yr2008', 'yr2009',
       'yr2010', 'yr2011', 'yr2012', 'yr2013', 'yr2014', 'yr2015'], dtype=object)

In [13]:
del df2['yr2015']

In [27]:
df2['mean'] = df2.iloc[:, 4:].mean(axis=1, skipna=True)

In [28]:
df2.head()

,name,iso,series,series_code,yr1990,yr1991,yr1992,yr1993,yr1994,yr1995,...,yr2006,yr2007,yr2008,yr2009,yr2010,yr2011,yr2012,yr2013,yr2014,mean
0,Argentina,ARG,droughts_floods_extreme_temps,EN.CLC.MDAT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.167189950512828,NaN,NaN,NaN,NaN,NaN,NaN
1,Argentina,ARG,freshwater_per_capita,ER.H2O.INTR.PC,NaN,NaN,8676.23554422534,NaN,NaN,NaN,...,NaN,7305.49683845868,NaN,NaN,NaN,NaN,6936.6539063909,6864.4015520694,NaN,NaN
2,Argentina,ARG,precipitation_in_mm,AG.LND.PRCP.MM,NaN,NaN,591,NaN,NaN,NaN,...,NaN,591,NaN,NaN,NaN,NaN,591,NaN,591,NaN
3,Argentina,ARG,arable_land,AG.LND.ARBL.ZS,9.71063584110732,9.74900335807125,9.78737087503517,9.82573839199909,9.86520212373342,9.90430045054427,...,12.7358232024818,13.3127975766345,12.8845430063325,12.530465635494,13.8784443981598,14.1707683369326,14.5263073274649,14.5062100566743,NaN,NaN
4,Australia,AUS,droughts_floods_extreme_temps,EN.CLC.MDAT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.04709860649413,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 997 entries, 0 to 996
Data columns (total 29 columns):
name           994 non-null object
iso            992 non-null object
series         992 non-null object
series_code    992 non-null object
yr1990         205 non-null object
yr1991         209 non-null object
yr1992         620 non-null object
yr1993         235 non-null object
yr1994         235 non-null object
yr1995         235 non-null object
yr1996         235 non-null object
yr1997         631 non-null object
yr1998         235 non-null object
yr1999         235 non-null object
yr2000         237 non-null object
yr2001         237 non-null object
yr2002         635 non-null object
yr2003         237 non-null object
yr2004         237 non-null object
yr2005         237 non-null object
yr2006         239 non-null object
yr2007         639 non-null object
yr2008         239 non-null object
yr2009         407 non-null object
yr2010         239 non-null object
yr2011         239 non-null object
yr2012         638 non-null object
yr2013         448 non-null object
yr2014         180 non-null object
dtypes: object(29)
memory usage: 233.7+ KB

In [30]:
df2.iloc[:, 4:] = df2.iloc[:, 4:].astype(float)

In [20]:
df2['mean'] = df2.iloc[:, 4:].mean(axis=1)

In [33]:
df2 = df2.fillna(df2['mean'])

In [43]:
df2.iloc[:, 4:-1] = df2.iloc[:, 4:-1].fillna(df2['mean'])

In [45]:
df2.fillna('NULL', inplace=True)

In [47]:
df2 = df2.iloc[:992]

In [48]:
df2

,name,iso,series,series_code,yr1990,yr1991,yr1992,yr1993,yr1994,yr1995,...,yr2006,yr2007,yr2008,yr2009,yr2010,yr2011,yr2012,yr2013,yr2014,mean
0,Argentina,ARG,extreme,EN.CLC.MDAT.ZS,NULL,NULL,NULL,NULL,NULL,NULL,...,NULL,NULL,NULL,0.16719,NULL,NULL,NULL,NULL,NULL,0.16719
1,Argentina,ARG,freshwater,ER.H2O.INTR.PC,NULL,NULL,8676.24,NULL,NULL,NULL,...,NULL,7305.5,NULL,NULL,NULL,NULL,6936.65,6864.4,NULL,7606.35
2,Argentina,ARG,precipitation,AG.LND.PRCP.MM,NULL,NULL,591,NULL,NULL,NULL,...,NULL,591,NULL,NULL,NULL,NULL,591,NULL,591,591
3,Argentina,ARG,arable_land,AG.LND.ARBL.ZS,9.71064,9.749,9.78737,9.82574,9.8652,9.9043,...,12.7358,13.3128,12.8845,12.5305,13.8784,14.1708,14.5263,14.5062,NULL,11.3151
4,Australia,AUS,extreme,EN.CLC.MDAT.ZS,NULL,NULL,NULL,NULL,NULL,NULL,...,NULL,NULL,NULL,3.0471,NULL,NULL,NULL,NULL,NULL,3.0471
5,Australia,AUS,freshwater,ER.H2O.INTR.PC,NULL,NULL,28122.3,NULL,NULL,NULL,...,NULL,23622.5,NULL,NULL,NULL,NULL,21647.1,21274.9,NULL,24378.9
6,Australia,AUS,precipitation,AG.LND.PRCP.MM,NULL,NULL,534,NULL,NULL,NULL,...,NULL,534,NULL,NULL,NULL,NULL,534,NULL,534,534
7,Australia,AUS,arable_land,AG.LND.ARBL.ZS,6.23511,5.94874,6.14399,6.02684,6.15701,5.2194,...,6.21103,5.74568,5.72472,5.93781,5.54105,6.20621,6.13267,6.0163,NULL,5.93551
8,Brazil,BRA,extreme,EN.CLC.MDAT.ZS,NULL,NULL,NULL,NULL,NULL,NULL,...,NULL,NULL,NULL,0.482451,NULL,NULL,NULL,NULL,NULL,0.482451
9,Brazil,BRA,freshwater,ER.H2O.INTR.PC,NULL,NULL,36433.5,NULL,NULL,NULL,...,NULL,29364.4,NULL,NULL,NULL,NULL,27969.1,27714.8,NULL,31078
10,Brazil,BRA,precipitation,AG.LND.PRCP.MM,NULL,NULL,1761,NULL,NULL,NULL,...,NULL,1761,NULL,NULL,NULL,NULL,1761,NULL,1761,1761
11,Brazil,BRA,arable_land,AG.LND.ARBL.ZS,6.06367,6.22124,6.19791,6.25307,6.31061,6.9464,...,8.31979,8.1822,8.40498,8.42771,8.4185,8.64702,8.68698,9.0939,NULL,7.47274
12,China,CHN,extreme,EN.CLC.MDAT.ZS,NULL,NULL,NULL,NULL,NULL,NULL,...,NULL,NULL,NULL,7.95097,NULL,NULL,NULL,NULL,NULL,7.95097
13,China,CHN,freshwater,ER.H2O.INTR.PC,NULL,NULL,2414.65,NULL,NULL,NULL,...,NULL,2134.48,NULL,NULL,NULL,NULL,2082.63,2072.37,NULL,2197.99
14,China,CHN,precipitation,AG.LND.PRCP.MM,NULL,NULL,645,NULL,NULL,NULL,...,NULL,645,NULL,NULL,NULL,NULL,645,NULL,645,645
15,China,CHN,arable_land,AG.LND.ARBL.ZS,13.1867,13.3012,13.0908,12.9204,12.8565,12.7372,...,11.5784,11.5554,11.5161,11.474,11.4207,11.3461,11.2822,11.2609,NULL,12.2221
16,France,FRA,extreme,EN.CLC.MDAT.ZS,NULL,NULL,NULL,NULL,NULL,NULL,...,NULL,NULL,NULL,0.00571765,NULL,NULL,NULL,NULL,NULL,0.00571765
17,France,FRA,freshwater,ER.H2O.INTR.PC,NULL,NULL,3398.4,NULL,NULL,NULL,...,NULL,3124.21,NULL,NULL,NULL,NULL,3046.92,3033.73,NULL,3195.75
18,France,FRA,precipitation,AG.LND.PRCP.MM,NULL,NULL,867,NULL,NULL,NULL,...,NULL,867,NULL,NULL,NULL,NULL,867,NULL,867,867
19,France,FRA,arable_land,AG.LND.ARBL.ZS,32.4797,32.5647,32.5931,32.9345,33.0484,33.1889,...,33.4905,33.3951,33.364,33.3412,33.4279,33.3744,33.3908,33.4316,NULL,33.2836
20,Germany,DEU,extreme,EN.CLC.MDAT.ZS,NULL,NULL,NULL,NULL,NULL,NULL,...,NULL,NULL,NULL,0.0328246,NULL,NULL,NULL,NULL,NULL,0.0328246
21,Germany,DEU,freshwater,ER.H2O.INTR.PC,NULL,NULL,1327.14,NULL,NULL,NULL,...,NULL,1300.65,NULL,NULL,NULL,NULL,1330.42,1326.79,NULL,1314.41
22,Germany,DEU,precipitation,AG.LND.PRCP.MM,NULL,NULL,700,NULL,NULL,NULL,...,NULL,700,NULL,NULL,NULL,NULL,700,NULL,700,700
23,Germany,DEU,arable_land,AG.LND.ARBL.ZS,34.2881,33.108,32.8445,33.4441,33.8146,33.9015,...,34.0273,34.0637,34.2254,34.2647,33.9846,34.0687,33.9531,34.0736,NULL,33.8921
24,India,IND,extreme,EN.CLC.MDAT.ZS,NULL,NULL,NULL,NULL,NULL,NULL,...,NULL,NULL,NULL,4.35611,NULL,NULL,NULL,NULL,NULL,4.35611
25,India,IND,freshwater,ER.H2O.INTR.PC,NULL,NULL,1595.21,NULL,NULL,NULL,...,NULL,1225.75,NULL,NULL,NULL,NULL,1144.36,1130.13,NULL,1311.83
26,India,IND,precipitation,AG.LND.PRCP.MM,NULL,NULL,1083,NULL,NULL,NULL,...,NULL,1083,NULL,NULL,NULL,NULL,1083,NULL,1083,1083
27,India,IND,arable_land,AG.LND.ARBL.ZS,54.9777,54.8845,54.7244,54.684,54.6635,54.457,...,53.3642,53.149,53.1399,53.116,52.8083,52.7982,52.6525,52.8052,NULL,53.8441
28,Indonesia,IDN,extreme,EN.CLC.MDAT.ZS,NULL,NULL,NULL,NULL,NULL,NULL,...,NULL,NULL,NULL,0.16059,NULL,NULL,NULL,NULL,NULL,0.16059
29,Indonesia,IDN,freshwater,ER.H2O.INTR.PC,NULL,NULL,10753,NULL,NULL,NULL,...,NULL,8691.47,NULL,NULL,NULL,NULL,8139.89,8035.24,NULL,9143.48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
962,"Venezuela, RB",VEN,precipitation,AG.LND.PRCP.MM,NULL,NULL,2044,NULL,NULL,NULL,...,NULL,2044,NULL,NULL,NULL,NULL,2044,NULL,2044,2044
963,"Venezuela, RB",VEN,arable_land,AG.LND.ARBL.ZS,3.2107,3.22431,2.94881,2.94654,2.93294,2.92614,...,3.01003,3.01457,3.06105,2.94768,3.06105,3.06105,3.06105,3.06105,NULL,2.99581
964,Vietnam,VNM,extreme,EN.CLC.MDAT.ZS,NULL,NULL,NULL,NULL,NULL,NULL,...,NULL,NULL,NULL,1.59936,NULL,NULL,NULL,NULL,NULL,1.59936
965,Vietnam,VNM,freshwater,ER.H2O.INTR.PC,NULL,NULL,5250.54,NULL,NULL,NULL,...,NULL,4267.47,NULL,NULL,NULL,NULL,4048.53,4006.29,NULL,4488.02
966,Vietnam,VNM,precipitation,AG.LND.PRCP.MM,NULL,NULL,1821,NULL,NULL,NULL,...,NULL,1821,NULL,NULL,NULL,NULL,1821,NULL,1821,1821
967,Vietnam,VNM,arable_land,AG.LND.ARBL.ZS,16.403,16.4921,16.916,16.9468,16.787,16.5996,...,20.4728,20.349,20.2616,20.318,20.7618,20.6447,20.714,20.6711,NULL,19.1711
968,Virgin Islands (U.S.),VIR,extreme,EN.CLC.MDAT.ZS,NULL,NULL,NULL,NULL,NULL,NULL,...,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
969,Virgin Islands (U.S.),VIR,freshwater,ER.H2O.INTR.PC,NULL,NULL,NULL,NULL,NULL,NULL,...,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
970,Virgin Islands (U.S.),VIR,precipitation,AG.LND.PRCP.MM,NULL,NULL,NULL,NULL,NULL,NULL,...,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
971,Virgin Islands (U.S.),VIR,arable_land,AG.LND.ARBL.ZS,11.4286,11.4286,11.4286,11.4286,8.57143,8.57143,...,2.85714,2.85714,2.85714,2.85714,2.85714,2.85714,2.85714,2.85714,NULL,6.30952
972,West Bank and Gaza,WBG,extreme,EN.CLC.MDAT.ZS,NULL,NULL,NULL,NULL,NULL,NULL,...,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
973,West Bank and Gaza,WBG,freshwater,ER.H2O.INTR.PC,NULL,NULL,375.302,NULL,NULL,NULL,...,NULL,232.365,NULL,NULL,NULL,NULL,200.647,194.747,NULL,261.185
974,West Bank and Gaza,WBG,precipitation,AG.LND.PRCP.MM,NULL,NULL,402,NULL,NULL,NULL,...,NULL,402,NULL,NULL,NULL,NULL,402,NULL,402,402
975,West Bank and Gaza,WBG,arable_land,AG.LND.ARBL.ZS,18.1063,17.608,17.2757,17.2757,17.2757,18.4385,...,15.6146,14.4518,13.7874,10.5233,7.25914,7.39203,7.47508,7.6412,NULL,14.864
976,World,WLD,extreme,EN.CLC.MDAT.ZS,NULL,NULL,NULL,NULL,NULL,NULL,...,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
977,World,WLD,freshwater,ER.H2O.INTR.PC,NULL,NULL,8041.9,NULL,NULL,NULL,...,NULL,6592.94,NULL,NULL,NULL,NULL,6085.67,6013.17,NULL,6858.42
978,World,WLD,precipitation,AG.LND.PRCP.MM,NULL,NULL,NULL,NULL,NULL,NULL,...,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
979,World,WLD,arable_land,AG.LND.ARBL.ZS,10.8644,10.8902,10.8161,10.8274,10.8118,10.8012,...,10.7557,10.7433,10.7653,10.7302,10.6966,10.7395,10.8669,10.8517,NULL,10.7854
980,"Yemen, Rep.",YEM,extreme,EN.CLC.MDAT.ZS,NULL,NULL,NULL,NULL,NULL,NULL,...,NULL,NULL,NULL,0.0994107,NULL,NULL,NULL,NULL,NULL,0.0994107
981,"Yemen, Rep.",YEM,freshwater,ER.H2O.INTR.PC,NULL,NULL,158.55,NULL,NULL,NULL,...,NULL,96.7693,NULL,NULL,NULL,NULL,84.3957,82.2458,NULL,110.319
982,"Yemen, Rep.",YEM,precipitation,AG.LND.PRCP.MM,NULL,NULL,167,NULL,NULL,NULL,...,NULL,167,NULL,NULL,NULL,NULL,167,NULL,167,167
983,"Yemen, Rep.",YEM,arable_land,AG.LND.ARBL.ZS,2.88463,2.8941,2.61,3.07214,3.08161,3.09298,...,2.60242,2.58537,2.35809,2.21793,2.44521,2.19899,2.37324,2.36377,NULL,2.68907
984,Zambia,ZMB,extreme,EN.CLC.MDAT.ZS,NULL,NULL,NULL,NULL,NULL,NULL,...,NULL,NULL,NULL,4.19968,NULL,NULL,NULL,NULL,NULL,4.19968
985,Zambia,ZMB,freshwater,ER.H2O.INTR.PC,NULL,NULL,9350.6,NULL,NULL,NULL,...,NULL,6295.79,NULL,NULL,NULL,NULL,5423.84,5260.37,NULL,6957.33
986,Zambia,ZMB,precipitation,AG.LND.PRCP.MM,NULL,NULL,1020,NULL,NULL,NULL,...,NULL,1020,NULL,NULL,NULL,NULL,1020,NULL,1020,1020
987,Zambia,ZMB,arable_land,AG.LND.ARBL.ZS,3.88894,3.706,3.73828,3.73963,3.83379,3.56341,...,4.05305,3.96696,4.10552,4.77542,4.57364,4.84268,5.11172,4.9772,NULL,4.01449
988,Zimbabwe,ZWE,extreme,EN.CLC.MDAT.ZS,NULL,NULL,NULL,NULL,NULL,NULL,...,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
989,Zimbabwe,ZWE,freshwater,ER.H2O.INTR.PC,NULL,NULL,1112.55,NULL,NULL,NULL,...,NULL,921.957,NULL,NULL,NULL,NULL,841.716,822.924,NULL,946.958
990,Zimbabwe,ZWE,precipitation,AG.LND.PRCP.MM,NULL,NULL,657,NULL,NULL,NULL,...,NULL,657,NULL,NULL,NULL,NULL,657,NULL,657,657
991,Zimbabwe,ZWE,arable_land,AG.LND.ARBL.ZS,7.5223,7.62569,7.72909,7.83249,8.01344,8.03929,...,10.5984,10.3399,10.9862,10.5984,10.3399,10.8569,10.3399,10.3399,NULL,9.34794

In [50]:
df = df2

In [52]:
df.to_csv('environment_data_reshape.csv', index=False)